In [1]:
# import libraries 

from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [170]:
URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').text.strip()

price = float(soup2.find('span',{"class":'a-offscreen'}).text.strip()[1:])


print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [35]:
# Create a Timestamp for your output to track when data was collected

import datetime

today = datetime.date.today()

print(today)

2022-04-03

In [36]:
import csv 

header = ['Title', 'Price', 'Date']
data = [title, price, today]


with open('AmazonWebScraper.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [38]:
import pandas as pd

df = pd.read_csv('AmazonWebScraper.csv')

print(df)
#Now we are appending data to the csv

with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-04-03

In [67]:
URL2='https://www.amazon.com/s?k=data+analyst+tshirt&crid=23A3T6K8HCDBU&sprefix=data+analyst+tshirt%2Caps%2C217&ref=nb_sb_noss_1'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL2, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find_all('span',{"class":'a-size-base-plus a-color-base a-text-normal'})#.text.strip()#[1:]

#price = float(soup2.find('span',{"class":'a-offscreen'}).text.strip()[1:]) 

prices=soup2.find_all('span',{"class":'a-price'})

shirt_titles=[titles.text.strip() for titles in title]
shirt_prices=[price.text.strip()[1:] for price in price]

In [74]:
len(shirt_titles),len(shirt_prices)
#we are having an issue since some of the products might not have name or price

(60, 68)

In [137]:
# test=products[0]
# test.find('span',{"class":'a-size-base-plus a-color-base a-text-normal'}).text.strip()
# float(test.find('span',{"class":'a-offscreen'}).text.strip()[1:])

In [106]:
names=[]
price_tag=[]
ratings=[]
products=soup2.find_all('div',{'class':'a-section a-spacing-base a-text-center'})
for product in products:
  try:
    title=product.find('span',{"class":'a-size-base-plus a-color-base a-text-normal'}).text.strip()
    price=float(product.find('span',{"class":'a-offscreen'}).text.strip()[1:])
    rating=float(product.find('div',{'class':'a-row a-size-small'}).text.strip()[:3])
  except:
    title='None'
    price=0
    rating=0
  names.append(title)
  price_tag.append(price)
  ratings.append(rating)

In [115]:
#Creating a new CSV file to store data
header = ['Title', 'Price','Rating', 'Date']

with open('AmazonScraper.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    #writer.writerow(data)

In [133]:
#Now adding new data (for the second iteration this will be important)

df = pd.read_csv('AmazonScraper.csv')
data = [names, price_tag, ratings]

with open('AmazonScraper.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    for i in range(len(data[0])):
      writer.writerow([data[0][i],data[1][i],data[2][i],today])

#Everything added alltogether

In [286]:
URL='https://www.amazon.com/s?k=puzzles&crid=1MPPNFV9I1SGC&sprefix=puzzles%2Caps%2C368&ref=nb_sb_noss'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
names=[]
price_tag=[]
ratings=[]
# a-section a-spacing-base                               
products=soup2.find_all('div',{'class':'a-section a-spacing-base'})
for product in products:
  try:
    title=product.find('span',{"class":'a-size-base-plus a-color-base a-text-normal'}).text.strip()
    price=float(product.find('span',{"class":'a-offscreen'}).text.strip()[1:])
    rating=float(product.find('div',{'class':'a-row a-size-small'}).text.strip()[:3])
  except:
    title='None'
    price=0
    rating=0
  names.append(title)
  price_tag.append(price)
  ratings.append(rating)
df = pd.read_csv('AmazonScraper.csv')
data = [names, price_tag, ratings]

with open('AmazonScraper.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    for i in range(len(data[0])):
      writer.writerow([data[0][i],data[1][i],data[2][i],today])

#Defining functions so that we can run different products fast

In [302]:
def custom_search(search_item):
  URL=f"https://www.amazon.com/s?k={str.replace(search_item,' ','+')}&page=2&crid=H91GR4O7XZUF&qid=1649033421&sprefix={str.replace(search_item,' ','+')}%2Caps%2C192&ref=sr_pg_2"

  headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

  page = requests.get(URL, headers=headers)

  soup1 = BeautifulSoup(page.content, "html.parser")

  soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
  names=[]
  price_tag=[]
  ratings=[]
  # a-section a-spacing-base                               
  products=soup2.find_all('div',{'class':'s-card-container s-overflow-hidden aok-relative s-expand-height s-include-content-margin s-latency-cf-section s-card-border'})
  for product in products:
    try:
      title=product.find('span',{"class":'a-size-base-plus a-color-base a-text-normal'}).text.strip()
      price=float(product.find('span',{"class":'a-offscreen'}).text.strip()[1:])
      rating=float(product.find('div',{'class':'a-row a-size-small'}).text.strip()[:3])
    except:
      title='None'
      price=0
      rating=0
    names.append(title)
    price_tag.append(price)
    ratings.append(rating)
  df = pd.read_csv('AmazonScraper.csv')
  data = [names, price_tag, ratings]
  #return data
  with open('AmazonScraper.csv', 'a+', newline='', encoding='UTF8') as f:
      writer = csv.writer(f)
      for i in range(len(data[0])):
        writer.writerow([data[0][i],data[1][i],data[2][i],today])
custom_search('men shorts')

In [317]:
#additional function that lets us iterate through multiple pages rather than just one
def custom_search_pages(search_item,pages):
  data=[]
  for page in range(1,int(pages+1)):
    URL=f"https://www.amazon.com/s?k={str.replace(search_item,' ','+')}&page={page}&crid=H91GR4O7XZUF&qid=1649033421&sprefix={str.replace(search_item,' ','+')}%2Caps%2C192&ref=sr_pg_{page}"

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    names=[]
    price_tag=[]
    ratings=[]
    # a-section a-spacing-base                               
    products=soup2.find_all('div',{'class':'s-card-container s-overflow-hidden aok-relative s-expand-height s-include-content-margin s-latency-cf-section s-card-border'})
    for product in products:
      try:
        title=product.find('span',{"class":'a-size-base-plus a-color-base a-text-normal'}).text.strip()
        price=float(product.find('span',{"class":'a-offscreen'}).text.strip()[1:])
        rating=float(product.find('div',{'class':'a-row a-size-small'}).text.strip()[:3])
      except:
        title='None'
        price=0
        rating=0
      names.append(title)
      price_tag.append(price)
      ratings.append(rating)
    df = pd.read_csv('AmazonScraper.csv')
    data = [names, price_tag, ratings]

    with open('AmazonScraper.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        for i in range(len(data[0])):
          writer.writerow([data[0][i],data[1][i],data[2][i],today])
#custom_search_pages('men shorts',2)

In [316]:
pd.read_csv('AmazonScraper.csv')

,Title,Price,Rating,Date
0,None,0.00,0.0,2022-04-03
1,funny data analyst definition data scientist T...,19.99,4.5,2022-04-03
2,Funny Got Data MIS Data Systems Business Analy...,16.99,4.8,2022-04-03
3,Let's Look At Data - Data Science Statistics D...,19.99,4.7,2022-04-03
4,Data Statistics Math Computer Science Shirt An...,15.95,4.8,2022-04-03
...,...,...,...,...
603,Men's Drawstring Walk Short,15.60,4.4,2022-04-03
604,"2 Packs Men’s Atheletic Shorts, Black Mens Wor...",10.99,4.3,2022-04-03
605,Sport Men's Performance Compression Short,9.00,4.4,2022-04-03
606,Men's Swim Trunks with Mesh Liner 4 Pockets Qu...,19.98,4.5,2022-04-03
607,"Men's 7"" Workout Running Shorts Quick Dry Ligh...",29.99,4.5,2022-04-03